body {
    background-color: yellow;
}

.quote-container {
  margin-top: 10%;
  background-color: #FFFFFF;
  border-radius: 3px;
}

.quote, .quote-author, .newQuote-button {
  font-family: 'PT Sans Narrow', sans-serif;
}

.quote-box {
  font-size: 30px;
  padding: 20px 0px;
}

.quote {
  text-indent: 20px;
}

.author {
  font-size: 18px;
}

.button-container {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 20px;
}

.newQuote-button {
  background-color: #337ab7;
  line-height: 34px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  height: 35px;
  width: 100px;
}

.twitter-button {
  height: 15px;
  text-decoration: none;
}


@media screen and (max-width: 504px) {
  .quote-box {
    font-size: 24px;
  }
  .author {
    font-size: 14px;
  }
  .quote {
    width: 250px;
  }
}

@media screen and (min-width: 443px) {
  .quote {
    width: 210px;
  }
}